*{
    font-family: "Open Sans", serif;
}
/* Header */
header{
    background: #FFF8F3;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
    align-items: center;
   
}
.logo{
    color: black;
    font-size: 45px;
font-weight: 800;
}
.logo-span{
    color: #FD6E0A;
}
.banner-ul{
    display: flex;
    gap: 15px;
    list-style: none;
    align-items: center;
}
.banner-ul>li>a{
    text-decoration: none;
    
    color:  #474747;
    
    font-size: 20px;
    
    font-weight: 400;
    
}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
color:  #FFF;
font-size: 20px;
font-weight: 700;
border: none;
padding: 5px 7px;
}
.banner-main{
    display: flex;
    margin: 50px 100px;
}
.banner-img{
    position: relative;
}
.banner-position{
    position: absolute;
    right: 0px;
    bottom: 5px;
    width: 500px;
height: 600px;
}